body{
color: floralwhite;
background: darkred;
margin: 3px;

    }

    header {
        border-bottom: solid 2px darksalmon;
        padding:  15px;
        font-size: 25px;
        color: floralwhite;
        justify-content: center;
    }

    section{
        background: black;
        padding-bottom: 70px;
        padding-top: 70px;
        display: flex;
    }
chamada-texto{
        margin-right: 100px;



    }
